<div id="consent-banner" class="consent-banner">
  <div class="consent-banner-content">
    <div class="consent-banner-text">
      <h3>Privacy & Cookies</h3>
      <p>We use Google Analytic and Google Tag Manager to understand how you use our site and to improve your experience. These tools use cookies to collect data. By clicking "Accept", you consent to our use of these analytics tools.</p>
    </div>
    <div class="consent-banner-buttons">
      <button id="consent-reject" class="consent-btn consent-btn-secondary">Reject</button>
      <button id="consent-accept" class="consent-btn consent-btn-primary">Accept</button>
    </div>
  </div>
</div>
